html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  color: darkcyan;
  background-image: linear-gradient(45deg, lightblue, white);

}

select, input, button {
  font-size: large;
}

a {
  color: blue;
}

.Box {
 display: inline-block;
 margin: 10px;
 padding: 0 10px;
 border: 1px solid black;
 border-radius: 10px;
 box-shadow: 5px 5px 10px;
 text-align: left;
}