.Footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer .Linkedin {
    color: #0171B2;
}

.Footer .GitHub {
    /* color: #eee; */
}

@media only screen and (max-width:700px) {
    .Footer .SmallerTxt {
        font-size: 10px;
        box-sizing: border-box;
    }
}